
body{
    
       margin-top: 0% !important ;

}
.color a{
       color:rgb(31, 87, 40) !important;
}
*{
       margin-top: 0 !important ;
}
.color1{
       background-color: rgb(191, 247, 207) !important;
}
.color2{
       color:rgb(31, 87, 40) !important;
}